@font-face {
    font-family: 'League Gothic';
    src: url('fontface/league-gothic-master/webfonts/leaguegothic-regular-webfont.eot');
    src: url('fontface/league-gothic-master/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontface/league-gothic-master/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fontface/league-gothic-master/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fontface/league-gothic-master/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navbar-brand{
    height:6.625rem ;width: 7.56rem;
    background-color : white; 
    padding: 1rem 1.25rem !important ;

}

.navbar{
    
    background-color:#2d2b2b;
    
}

.color{
    background-color:#2d2b2b;
}
.colortext{ 
    color:white!important;
    font-family: 'League Gothic';
    font-size:2rem;

}

.img-size{height:6.5rem ;width: 7.56rem;}

.nav-link{
    font-family: 'League Gothic';
    font-size:2.25rem;

}

.shape{ 
    padding-top: 7.125rem;
    background-color:#3a0a1d;
    height: 23.25rem;
    display:flex ;
    justify-content:center;



}
.bi-circle-fill{
color: #f0db01!important;

}

.nav-item{
margin-left: 6.44rem;
}

.icon-shape{
    margin-left: 1.25rem;
    margin-bottom: 1.625rem!important;
}
footer{
    padding :2.5rem 0;
    background-color: #e4bc01 !important;
    display :flex;
    flex-flow: column;
    align-items: center;  
}
footer span{
    font-family: "League Gothic";
    font-size : 1.8rem;
    color : #31332e;
}
.footer-elements{
    width:7.75rem;
    display: flex;
    justify-content: end;
}
footer ul li {
    display: inline;
    width: 2rem !important;
    height: 2em;
}

.socials {
    background-color: #fff;
    color : #e4bc01;
    border-radius: 50%;
}
.test{ 
    margin : 0 0.5rem 0 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    color : #e4bc01;
    border-radius: 50%;

}